@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .spacer {
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
  }

  .heroContainer {
    @apply w-full min-h-[calc(100vh-58px)]  lg:min-h-[calc(100vh-63px)] bg-background-primary flex flex-col items-center justify-center relative overflow-hidden;
  }

  .heroAnimatedCircle {
    @apply bg-accent-mainGreen w-24 h-24 md:w-36 md:h-36 lg:w-52 lg:h-52 blur-[80px] opacity-60
  }

  .heroDonut {
    @apply h-full w-full scale-[150%] absolute -top-[43%] -right-[40%] lg:-right-[35%] lg:-top-[35%]  rotate-[160deg] text-accent-mainGreen opacity-10  
  }

  .portfolioDonut {
    @apply h-full w-full absolute text-accent-mainGreen opacity-10 -left-[40%] -bottom-[45%] lg:-left-[35%] lg:-bottom-[35%] rotate-[340deg] scale-[150%]  
  }

  .missionDonut {
    @apply h-full w-full absolute text-accent-mainGreen opacity-10 -right-[40%] -bottom-[40%] lg:-right-[35%] lg:-bottom-[25%] rotate-[290deg] scale-[180%]  
  }

  .slideC {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin: 0 auto;
    @apply my-12 w-full h-80;
  }
  
  .slide {
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    @apply p-4 rounded-md overflow-hidden border border-stroke w-[60%] left-[20%] md:w-[36%] md:left-[32%] lg:w-[32%] lg:left-[34%] xl:w-[25%] xl:left-[37.5%] 2xl:w-[22%] 2xl:left-[39%] bg-background-secondary transition-all duration-500 ease-in-out;
  }
  
  /* 3D reflection effect */
  .reflection {
    position: absolute;
    height: 60px;
    bottom: -60px;
    border-radius: 12px;
    @apply bg-gradient-to-b from-background-secondary to-transparent w-[60%] left-[20%] md:w-[36%] md:left-[32%] lg:w-[32%] lg:left-[34%] xl:w-[25%] xl:left-[37.5%] 2xl:w-[22%] 2xl:left-[39%] transition-all duration-500 ease-in-out
  }

  .slide.active {
    @apply bg-accent-mainGreen text-background-secondary;
  }
  .reflection.active {
    @apply bg-gradient-to-b from-accent-mainGreen to-transparent opacity-5;
  }
  
  .sliderContent {
    @apply flex flex-col items-start justify-start h-full gap-4 relative;
  }
  
  .btns {
    @apply w-full flex items-center justify-between px-[20%] hover:text-accent-mainGreen transition-all duration-500 ease-in-out;
  }

  .sliderDonut {
    @apply opacity-30
  }
  .sliderContent .sliderDonut {
    @apply absolute w-full h-full -bottom-1/2 -left-1/2 rotate-[-15deg] scale-[130%]
  }

  .active .sliderContent .sliderDonut {
    animation: translateX 4s infinite ease-in-out;
    @apply text-pink opacity-80
    
  }
  
  @keyframes translateX {
    0%, 100% {
      transform: translateX(0) rotate(-15deg);
    }
    50% {
      transform: translateX(15%) rotate(5deg);
    }
  }

  .marquee {
    display: flex;
    overflow:hidden;
    gap:2rem;
    position: relative;
    user-select: none;
    @apply py-4;
  }
  .marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    @apply gap-8
  }
  @keyframes scrollMarquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 2rem));
    }
  }
  .scrollMarquee {
    animation: scrollMarquee 26s linear infinite;
  }

  .marqueeItem {
    @apply inline-block px-4
  }
  .marqueeItem
  > img {
    @apply h-6 lg:h-8 w-auto brightness-0 invert
  }

  .missionDivider {
    @apply h-20 w-full border-t border-stroke bg-gradient-to-b from-background-secondary from-25% z-10;
  }
  
}

